<div class="container">
   <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

<%= form_for(@tweet, url: choose_new_or_edit) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.label :content,"内容"%>
<%= f.text_field :content, class: 'form-control'  %>
<br>
<%= f.submit"tweet", class: 'btn btn-primary btn-block' %>
<% end %>
<%= link_to '戻る', :back, class: 'btn btn-default btn-block' %>

</div>
</div>